.SlotMachine {
  margin-top: 6%;
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
}
h1 {
  margin-left: 27%;
  color: #484848;
  font-size: 50px;
  font-weight: bold;
  font-family: monospace;
  letter-spacing: 7px;
  cursor: pointer;
}
h1 span {
  transition: 0.4s linear;
}

h1:hover span:nth-child(1) {
  margin-right: 25px;
  transition: 0.4s linear;
}

h1:hover span:nth-child(2) {
  margin-left: 30px;
}
h1:hover span {
  color: rgb(92, 42, 42);
  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 40px #fff;
}

.slot {
  position: relative;
  display: inline-block;
  height: 100px;
  width: 80px;
}

.box-shadow {
  background-color: lightgrey;
  width: 500px;
  border: 5px solid green;
  padding: 50px;
  margin-left: 25%;
}

.enclose {
  margin-left: 25%;
}

.centrify {
  text-align: center;
  margin-left: auto;
}

.Blue {
  border-radius: 15px !important;
  border: 1px solid black !important;
  background-color: blue;
  color: blue;
  border-radius: 2px;
  font-size: 64px;
  cursor: default;
}

.Brown {
  border-radius: 15px !important;
  border: 3px solid black !important;
  background-color: brown;
  color: brown;
  border-radius: 2px;
  font-size: 63px;
}

.Green {
  border-radius: 15px !important;
  border: 3px solid black !important;
  background-color: green;
  color: green;
  border-radius: 2px;
  font-size: 63px;
}

.Red {
  border-radius: 15px !important;
  border: 3px solid black !important;
  background-color: red;
  color: red;
  border-radius: 2px;
  font-size: 63px;
}

section {
  position: absolute;
  border-radius: 15px !important;
  border: 1px solid black !important;
  width: 70px;
  height: 70px;
  overflow: hidden;
  background-color: grey;
  border-radius: 2px;
  border: 1px solid lightgrey;
  color: white;
  font-family: sans-serif;
  text-align: center;
  font-size: 25px;
  line-height: 60px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.container {
  position: absolute;
  top: 2px;
  width: 100%;
  transition: top ease-in-out 0.5s;
  text-align: center;
}

.roll {
  margin-top: 3%;
  margin-left: 35%;
  align-items: center;
  background-color: #06f;
  border: 2px solid #06f;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  fill: #000;
  font-family: Inter, sans-serif;
  font-size: 16px;
  font-weight: 600;
  height: 48px;
  justify-content: center;
  letter-spacing: -0.8px;
  line-height: 24px;
  min-width: 140px;
  outline: 0;
  padding: 0 17px;
  text-align: center;
  text-decoration: none;
  transition: all 0.3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
.roll:focus {
  color: #171e29;
}

.roll:hover {
  background-color: #3385ff;
  border-color: #3385ff;
  fill: #06f;
}

.roll:active {
  background-color: #3385ff;
  border-color: #3385ff;
  fill: #06f;
}

@media (min-width: 768px) {
  .button-58 {
    min-width: 170px;
  }
}
@keyframes blinkingText {
  0% {
    color: #000;
  }
  49% {
    color: #000;
  }
  60% {
    color: transparent;
  }
  99% {
    color: transparent;
  }
  100% {
    color: #000;
  }
}
